<!DOCTYPE html>
<html>
  <head>
    <title>ThisCord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/f71299424d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;900&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">

    <script  type="text/javascript">
      window.clouds = "<%= image_url('clouds.svg') %>";
      window.cartoon_left = "<%= image_url('cartoon_left.svg') %>";
      window.cartoon_right = "<%= image_url('cartoon_right.svg') %>";
      window.splash_img1 = "<%= image_url('splash_img1.svg') %>";
      window.splash_img2 = "<%= image_url('splash_img2.svg') %>";
      window.splash_img3 = "<%= image_url('splash_img3.svg') %>";
      window.splash_img4 = "<%= image_url('splash_img4.svg') %>";
      window.login_wallpaper = "<%= image_url('login_wallpaper.png') %>";
      window.sparkles = "<%= image_url('sparkles.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
